/* --- LOADING OVERLAY --- */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505; /* Deep Black background */
    z-index: 9999; /* Pastikan di atas semua elemen */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
}

/* Class untuk menyembunyikan overlay */
#loading-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* --- RIPPLE SPINNER ANIMATION --- */
.ripple-spinner {
    display: inline-block;
    position: relative;
    width: 80px; /* Sedikit diperbesar agar pas di tengah */
    height: 80px;
}

.ripple-spinner div {
    position: absolute;
    border: 3px solid #ffffff; /* Warna Putih Minimalis */
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple-spinner div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}